.black-button{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 30px;
    width: 13vw;
    font-weight: 600;
    font-family: Roboto, Helvetica, sans-serif;
}

.pink-button {
    background-color: #e9affc;
    color: black;
    padding: 1rem;
    border-radius: 30px;
    width: 13vw;
    border: 1px solid black;
    font-weight: 600;
    font-family: Roboto, Helvetica, sans-serif;
}

.white-button {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 30px;
    width: 13vw;
    border: 1px solid black;
    font-weight: 600;
    font-family: Roboto, Helvetica, sans-serif;
}